
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
  font-size: 62.5%;

  /* COLORS */
  --color-primary-dark: #658FFF;
  --color-primary-light: #83C5BE;
  --color-secondary-dark: #CC562B;
  --color-secondary-light: #E29578;

  --color-grey-dark: #747474;
  --color-grey: #e6e6e6;
  --color-grey-light: #f4f7f5;

  /* SHADOWS */
  --shadow-large: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --shadow-medium: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --shadow-light: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* FONTS */
  --font-primary: 'Nexa';
  --font-secondary: 'Lato';

}